[submodule "ydlidar"]
	path = ydlidar
	url = git@github.com:esamet/ydlidar_ros2_driver.git
	branch = humble-devel
[submodule "ydlidar_ros2_driver"]
	path = ydlidar_ros2_driver
	url = git@github.com:esamet/ydlidar_ros2_driver.git
